body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.vertical{
    width: 4vw;
    height: 0vw; 
    background-color: red;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-name: primer;
    animation-delay: 0s;
}

.diagonal {
    width: 5vw; 
    height: 0vw; 
    background-color: red;
    transform: skew(22deg);
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-name: segunda;
    animation-delay: 1s; 
    box-shadow: -27px -16px 35px -7px 
}

.vertical2{
    width: 4vw;
    height: 0vw; 
    background-color: red;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-name: tercera;
    animation-delay: 2s;
}

.recorte{
    position: absolute;
    height: 9vw;
    width: 20vw;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    top: 17vw;
}




@keyframes primer {
    0% { height: 0vw;}
    100% {height: 20vw;}
}

@keyframes segunda {
    0% {height: 0vw; }
    100% {height: 20vw; }
}

@keyframes tercera{
    0% {height: 0vw; }
    100% {height: 20vw; }
}
